workflow:
  auto_cancel:
    on_new_commit: interruptible
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"

stages:
  - changelog
  - build
  - release

variables:
  GRADLE_OPTS: -Dorg.gradle.daemon=false
  GRADLE_USER_HOME: $CI_PROJECT_DIR/.gradle
  KONAN_DATA_DIR: $CI_PROJECT_DIR/.konan
  KOTLIN_DATA_DIR: $CI_PROJECT_DIR/.kotlin
  BUILD_LINUX_IMAGE_NAME_BASE: registry.gitlab.com/trixnity/kmp-dockerfiles/kmp-dockerfiles-base:latest
  BUILD_LINUX_IMAGE_NAME_PACKAGE: registry.gitlab.com/trixnity/kmp-dockerfiles/kmp-dockerfiles-package:latest
  BUILD_LINUX_IMAGE_NAME_FASTLANE: registry.gitlab.com/trixnity/kmp-dockerfiles/kmp-dockerfiles-fastlane:latest

.if-merge-request: &if-merge-request
  - if: $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

.if-release: &if-release
  - if: '$CI_COMMIT_TAG =~ /^v\d+.\d+.\d+.*/'

.if-main: &if-main
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: never
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

.cache: &cache
  - key:
      files:
        - gradle/wrapper/gradle-wrapper.properties
        - gradle/libs.versions.toml
    paths:
      - $GRADLE_USER_HOME/wrapper
      - $GRADLE_USER_HOME/nodejs
      - $GRADLE_USER_HOME/yarn
      - $GRADLE_USER_HOME/native
      - $KONAN_DATA_DIR
      - $KOTLIN_DATA_DIR

changelog:
  stage: changelog
  interruptible: true
  timeout: 5m
  rules:
    - *if-merge-request
    - *if-main
  script:
    - git fetch origin main
    - |
      if git diff --name-only HEAD origin/main | grep "CHANGELOG.md"; then
        echo "CHANGELOG.md has changed"
      else
        echo "CHANGELOG.md has not changed"
        exit 0
      fi

build:android:
  stage: build
  interruptible: true
  image: $BUILD_LINUX_IMAGE_NAME_BASE
  cache: *cache
  rules:
    - *if-merge-request
    - *if-main
    - *if-release
  artifacts:
    name: build
    when: always
    expire_in: 1 day
    paths:
      - "build/outputs/bundle"
      - "build/outputs/apk"
  before_script:
    - tools/brandify.sh branding/branding.json
    - echo $ANDROID_RELEASE_STORE_FILE_BASE64 | base64 --decode > android_keystore.jks
  script:
    - ./gradlew
      uploadAndroidDistributable
      --stacktrace

build:linux-x64:
  stage: build
  interruptible: true
  image: $BUILD_LINUX_IMAGE_NAME_PACKAGE
  cache: *cache
  rules:
    - *if-merge-request
    - *if-main
    - *if-release
  artifacts:
    name: build
    when: always
    expire_in: 1 day
    paths:
      - "build/compose"
  before_script:
    - tools/brandify.sh branding/branding.json
  script:
    - ./gradlew
      uploadPlatformDistributable
      --stacktrace

build:web:
  stage: build
  interruptible: true
  image: $BUILD_LINUX_IMAGE_NAME_BASE
  cache: *cache
  rules:
    - *if-merge-request
    - *if-main
    - *if-release
  artifacts:
    name: build
    when: always
    expire_in: 1 day
    paths:
      - "build/compose"
  before_script:
    - tools/brandify.sh branding/branding.json
  script:
    - ./gradlew
      uploadWebZipDistributable
      --stacktrace

build:windows-x64:
  stage: build
  interruptible: true
  cache: *cache
  rules:
    - when: manual
  artifacts:
    name: build
    when: always
    expire_in: 1 day
    paths:
      - "build/compose"
  script:
    - ./gradlew
      uploadPlatformDistributable
      --stacktrace

build:macos-x64:
  stage: build
  interruptible: true
  cache: *cache
  rules:
    - when: manual
  artifacts:
    name: build
    when: always
    expire_in: 1 day
    paths:
      - "build/compose"
  before_script:
    - tools/brandify.sh branding/branding.json
    - echo $APPLE_KEYCHAIN_FILE_BASE64 | base64 --decode > apple_keychain.keychain
    - security list-keychains -d user -s "$(realpath apple_keychain.keychain)"
    - security unlock-keychain -p $APPLE_KEYCHAIN_PASSWORD "$(realpath apple_keychain.keychain)"
    - security set-keychain-settings -t 600 "$(realpath apple_keychain.keychain)"
  script:
    - ./gradlew
      uploadPlatformDistributable
      --stacktrace

build:macos-arm64:
  stage: build
  interruptible: true
  timeout: 30m
  variables:
    HOMEBREW_NO_AUTO_UPDATE: 1
  cache: *cache
  rules:
    - when: manual
  artifacts:
    name: build
    when: always
    expire_in: 1 day
    paths:
      - "build/compose"
  before_script:
    - tools/brandify.sh branding/branding.json
    - brew install --cask temurin@21
    - echo $APPLE_KEYCHAIN_FILE_BASE64 | base64 --decode > apple_keychain.keychain
    - security list-keychains -d user -s "$(realpath apple_keychain.keychain)"
    - security unlock-keychain -p $APPLE_KEYCHAIN_PASSWORD "$(realpath apple_keychain.keychain)"
    - security set-keychain-settings -t 600 "$(realpath apple_keychain.keychain)"
  script:
    - ./gradlew
      uploadPlatformDistributable
      --stacktrace

# TODO: Uncomment this when iOS is being distributed (The link process requires more than 4 GB of memory)
#build:ios-arm64:
#  stage: build
#  interruptible: true
#  tags: [ "connect2x-macos" ]
#  timeout: 40m
#  cache: *cache
#  rules:
#    - *if-main
#    - *if-release
#  artifacts:
#    name: build
#    when: always
#    expire_in: 1 day
#    paths:
#      - "iosApp/build/tammy-archive.xcarchive"
#  before_script:
#    - echo $APPLE_KEYCHAIN_FILE_BASE64 | base64 --decode > apple_keychain.keychain
#    - security list-keychains -d user -s "$(realpath apple_keychain.keychain)"
#    - security unlock-keychain -p $APPLE_KEYCHAIN_PASSWORD "$(realpath apple_keychain.keychain)"
#    - security set-keychain-settings -t 600 "$(realpath apple_keychain.keychain)"
#  script:
#    - cd ./iosApp
#    - xcodebuild archive -scheme "Tammy for iOS (Release)" -archivePath tammy-archive.xcarchive

build:prepare-website:
  stage: build
  interruptible: true
  image: $BUILD_LINUX_IMAGE_NAME_BASE
  cache: *cache
  rules:
    - *if-merge-request
    - *if-main
    - *if-release
  artifacts:
    paths:
      - website/config/_default/params.yaml
      - website/static/fastlane
      - website/static/Tammy-Windows-x64.appinstaller
      - website/static/Tammy-Windows-arm64.appinstaller
  script:
    - ./gradlew
      prepareWebsite
      --stacktrace

build:website:
  stage: build
  interruptible: true
  image: registry.gitlab.com/pages/hugo/hugo_extended:latest
  needs: [ "build:prepare-website" ]
  rules:
    - *if-merge-request
    - *if-main
    - *if-release
  script:
    - cd website
    - hugo
  artifacts:
    paths:
      - website/public

release:website:
  stage: release
  image: ubuntu:latest
  rules:
    - when: manual
  variables:
    SSH_SERVER_PUBLIC_KEY: |
      |1|rkXUG6Zg2U7Icsi1+W+16Bf0Agg=|aIDGBml+j9OBTthTodbxWcKZGN8= ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQD24yORSNdYYIm+huvj+F9wc+BFsGSdi2V7uC+P54T1xJt+ll1LezHHps5jgRJU5JYEeGRWwRjaTMn+wNq8RwtEoDo830DckEzu/KqOVMi2o77XFi2e6oIcUKwvpouHHrSyLgeyipLaV392QNISj+AT3IXBICo/gXVj82kKN//je7hLkVnPX3/7fE3CWKTiTAh3iRa302gfPuDutaJ9Iu0Z+LLk/P5UWSdjhcXKMwPBWrQTK9Is9JI7YH0Kd49NyXrz3dgmyhm1HYtCu5yvwopcMf0iaFG40COlIHx8GzOp7/6E9mULWKS2A2942uxmRIxL71Cs1oTWJgck1ymNVv5vIPZ+/9ROrZtfoHuK8LIIZWupvFqBbYduJ7Th9rPnlNmI7I0QgTt7iRuxjyCNs7TdBZLidnEtNzcHo9iQ1kkWY0BRGk3PvkgmknzMmc43D4dj7AEK1YOVYXfYmeZXtLnK2BjYZcJ1bcFfvNOrPyQ+pVw78ZWm+n7XQgXkwKGr+2c=
      |1|2ywjh4MQnSRFiNbupqXVfgDB1B0=|6neQereUz86gfJcvhEIOGrCXX3o= ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBOGEPcfO5e/GIvHJrOb92rpz5x6xRR7V7QpAybe01OVA3xxgEXStOAHx+an8CGiyeRWrcuP9WQJLdkwRpLgF5fY=
      |1|NqjIeCIEYbER3NUsDTJfBNO4rdY=|QxGhn1HkpIx4BBILLbI44AnIIIw= ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIk09gBfcCwKjFFF9dKn2pNTrplhAVjY4TrJABwUJWUg
    SSH_USER: my_webapp__5
    SSH_SERVER: connect2x.de
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client lftp -y )"
    - eval $(ssh-agent -s)
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo $SSH_SERVER_PUBLIC_KEY >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - lftp -e "open sftp://connect2x.de; user $SSH_USER $SSH_PASSWORD_WEBSITE; mirror -X .* -X .*/ --reverse --verbose --delete website/public/ www/; bye"

release:webapp:
  stage: release
  image: ubuntu:latest
  rules:
    - when: manual
  variables:
    SSH_SERVER_PUBLIC_KEY: |
      |1|rkXUG6Zg2U7Icsi1+W+16Bf0Agg=|aIDGBml+j9OBTthTodbxWcKZGN8= ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQD24yORSNdYYIm+huvj+F9wc+BFsGSdi2V7uC+P54T1xJt+ll1LezHHps5jgRJU5JYEeGRWwRjaTMn+wNq8RwtEoDo830DckEzu/KqOVMi2o77XFi2e6oIcUKwvpouHHrSyLgeyipLaV392QNISj+AT3IXBICo/gXVj82kKN//je7hLkVnPX3/7fE3CWKTiTAh3iRa302gfPuDutaJ9Iu0Z+LLk/P5UWSdjhcXKMwPBWrQTK9Is9JI7YH0Kd49NyXrz3dgmyhm1HYtCu5yvwopcMf0iaFG40COlIHx8GzOp7/6E9mULWKS2A2942uxmRIxL71Cs1oTWJgck1ymNVv5vIPZ+/9ROrZtfoHuK8LIIZWupvFqBbYduJ7Th9rPnlNmI7I0QgTt7iRuxjyCNs7TdBZLidnEtNzcHo9iQ1kkWY0BRGk3PvkgmknzMmc43D4dj7AEK1YOVYXfYmeZXtLnK2BjYZcJ1bcFfvNOrPyQ+pVw78ZWm+n7XQgXkwKGr+2c=
      |1|2ywjh4MQnSRFiNbupqXVfgDB1B0=|6neQereUz86gfJcvhEIOGrCXX3o= ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBOGEPcfO5e/GIvHJrOb92rpz5x6xRR7V7QpAybe01OVA3xxgEXStOAHx+an8CGiyeRWrcuP9WQJLdkwRpLgF5fY=
      |1|NqjIeCIEYbER3NUsDTJfBNO4rdY=|QxGhn1HkpIx4BBILLbI44AnIIIw= ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIk09gBfcCwKjFFF9dKn2pNTrplhAVjY4TrJABwUJWUg
    SSH_USER: my_webapp__4
    SSH_SERVER: connect2x.de
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client lftp -y )"
    - eval $(ssh-agent -s)
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo $SSH_SERVER_PUBLIC_KEY >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - lftp -e "open sftp://connect2x.de; user $SSH_USER $SSH_PASSWORD_APP; mirror -X .* -X .*/ --reverse --verbose --delete build/compose/binaries/main-release/web/ www/; bye"

release:playstore-beta:
  stage: release
  interruptible: true
  image: $BUILD_LINUX_IMAGE_NAME_FASTLANE
  cache: *cache
  rules:
    - when: manual
  artifacts:
    name: build
    when: always
    expire_in: 1 day
    paths:
      - "build/outputs/bundle"
      - "build/outputs/apk"
  before_script:
    - echo $ANDROID_RELEASE_STORE_FILE_BASE64 | base64 --decode > android_keystore.jks
    - echo $ANDROID_SERVICE_ACCOUNT_JSON_BASE64 | base64 --decode > android_service-account.json
  script:
    - fastlane android releaseBeta

release:playstore:
  stage: release
  interruptible: true
  image: $BUILD_LINUX_IMAGE_NAME_FASTLANE
  cache: *cache
  rules:
    - when: manual
  artifacts:
    name: build
    when: always
    expire_in: 1 day
  before_script:
    - echo $ANDROID_RELEASE_STORE_FILE_BASE64 | base64 --decode > android_keystore.jks
    - echo $ANDROID_SERVICE_ACCOUNT_JSON_BASE64 | base64 --decode > android_service-account.json
  script:
    - fastlane android release

release:gitlab:
  stage: release
  image: $BUILD_LINUX_IMAGE_NAME_BASE
  cache: *cache
  rules:
    - when: manual
  script:
    - ./gradlew
      createGitLabRelease
      --stacktrace
