workflow:
  auto_cancel:
    on_new_commit: interruptible
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"

stages:
  - changelog
  - binaries
  - release
  - website

variables:
  GRADLE_OPTS: -Dorg.gradle.daemon=false
  GRADLE_USER_HOME: $CI_PROJECT_DIR/.gradle
  KONAN_DATA_DIR: $CI_PROJECT_DIR/.konan
  KOTLIN_DATA_DIR: $CI_PROJECT_DIR/.kotlin
  BUILD_LINUX_IMAGE_NAME_BASE: registry.gitlab.com/trixnity/kmp-dockerfiles/kmp-dockerfiles-base:latest
  BUILD_LINUX_IMAGE_NAME_EMULATOR: registry.gitlab.com/trixnity/kmp-dockerfiles/kmp-dockerfiles-emulator:latest

.if-merge-request: &if-merge-request
  - if: $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

.if-main: &if-main
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: never
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

.if-release: &if-release
  - if: '$CI_COMMIT_TAG =~ /^v\d+.\d+.\d+.*/'

.docker-variables: &docker-variables
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

.build-cache-android: &build-cache-android
  paths:
    - $GRADLE_USER_HOME
    - $KONAN_DATA_DIR
    - $KOTLIN_DATA_DIR

.build-cache-linux: &build-cache-linux
  paths:
    - $GRADLE_USER_HOME
    - $KONAN_DATA_DIR
    - $KOTLIN_DATA_DIR

.build-cache-web: &build-cache-web
  paths:
    - $GRADLE_USER_HOME
    - $KONAN_DATA_DIR
    - $KOTLIN_DATA_DIR

.build-cache-mac: &build-cache-mac
  paths:
    - $GRADLE_USER_HOME
    - $KONAN_DATA_DIR
    - $KOTLIN_DATA_DIR

.build-cache-windows: &build-cache-windows
  paths:
    - $GRADLE_USER_HOME
    - $KONAN_DATA_DIR
    - $KOTLIN_DATA_DIR

changelog:
  stage: changelog
  interruptible: true
  timeout: 5m
  tags: [ "saas-linux-small-amd64" ]
  rules:
    - *if-merge-request
  script:
    - git fetch origin main
    - |
      if git diff --name-only HEAD origin/main | grep "CHANGELOG.md"; then
        echo "CHANGELOG.md has changed"
      else
        echo "CHANGELOG.md has not changed"
        exit 1
      fi

binaries:android:
  stage: binaries
  tags: [ "saas-linux-medium-amd64" ]
  image: $BUILD_LINUX_IMAGE_NAME_EMULATOR
  variables: *docker-variables
  cache: *build-cache-android
  rules:
    - *if-main
  artifacts:
    name: binaries
    when: always
    expire_in: 1 day
    paths:
      - "build/outputs/bundle"
      - "build/outputs/apk"
  script:
    - echo $ANDROID_RELEASE_STORE_FILE_BASE64 | base64 --decode > $ANDROID_RELEASE_STORE_FILE
    - ./gradlew
      uploadAndroidDistributable
      --stacktrace


binaries:linux:
  stage: binaries
  tags: [ "saas-linux-medium-amd64" ]
  image: $BUILD_LINUX_IMAGE_NAME_BASE
  variables: *docker-variables
  cache: *build-cache-linux
  rules:
    - *if-main
  artifacts:
    name: binaries
    when: always
    expire_in: 1 day
    paths:
      - "build/compose"
  script:
    - ./gradlew
      uploadPlatformZipDistributable
      uploadLinuxDistributable
      --stacktrace

binaries:web:
  stage: binaries
  tags: [ "saas-linux-medium-amd64" ]
  image: $BUILD_LINUX_IMAGE_NAME_BASE
  variables: *docker-variables
  cache: *build-cache-web
  rules:
    - *if-main
  artifacts:
    name: binaries
    when: always
    expire_in: 1 day
    paths:
      - "build/compose"
  script:
    - ./gradlew
      uploadWebZipDistributable
      --stacktrace

binaries:win:
  stage: binaries
  tags: [ "connect2x-win" ]
  cache: *build-cache-windows
  rules:
    - *if-main
  artifacts:
    name: binaries
    when: always
    expire_in: 1 day
    paths:
      - "build/compose"
  script:
    - ./gradlew
      uploadPlatformZipDistributable
      uploadWindowsDistributable
      --stacktrace

binaries:mac:
  stage: binaries
  tags: [ "connect2x-mac" ]
  cache: *build-cache-mac
  rules:
    - *if-main
  artifacts:
    name: binaries
    when: always
    expire_in: 1 day
    paths:
      - "build/compose"
  script:
    - ./gradlew
      uploadPlatformZipDistributable
      uploadMacDistributable
      --stacktrace

release:playstore-beta:
  stage: release
  tags: [ "saas-linux-medium-amd64" ]
  image: $BUILD_LINUX_IMAGE_NAME_EMULATOR
  variables: *docker-variables
  cache: *build-cache-android
  rules:
    - *if-main
  artifacts:
    name: binaries
    when: always
    expire_in: 1 day
    paths:
      - "build/outputs/bundle"
      - "build/outputs/apk"
      - "fastlane/metadata/android"
  before_script:
    - apt install -y ruby ruby-dev
    - gem install fastlane
  script:
    - echo $ANDROID_RELEASE_STORE_FILE_BASE64 | base64 --decode > $ANDROID_RELEASE_STORE_FILE
    - echo $SERVICE_ACCOUNT_JSON_BASE64 | base64 --decode > SERVICE_ACCOUNT_JSON_FILE
    - ./fastlane/start_screenshot_emulators.sh
    - fastlane android screenshots
    - fastlane android releaseBeta

release:playstore:
  stage: release
  tags: [ "saas-linux-medium-amd64" ]
  image: $BUILD_LINUX_IMAGE_NAME_EMULATOR
  variables: *docker-variables
  cache: *build-cache-android
  rules:
    - *if-release
  artifacts:
    name: binaries
    when: always
    expire_in: 1 day
    paths:
      - "build/outputs/bundle"
      - "build/outputs/apk"
      - "fastlane/metadata/android"
  before_script:
    - apt install -y ruby ruby-dev
    - gem install fastlane
  script:
    - echo $ANDROID_RELEASE_STORE_FILE_BASE64 | base64 --decode > $ANDROID_RELEASE_STORE_FILE
    - echo $SERVICE_ACCOUNT_JSON_BASE64 | base64 --decode > SERVICE_ACCOUNT_JSON_FILE
    - ./fastlane/start_screenshot_emulators.sh
    - fastlane android screenshots
    - fastlane android release

release:gitlab:
  stage: release
  tags: [ "saas-linux-small-amd64" ]
  image: $BUILD_LINUX_IMAGE_NAME_BASE
  variables: *docker-variables
  cache: *build-cache-linux
  rules:
    - *if-release
  script:
    - ./gradlew
      createGitLabRelease
      --stacktrace

pages:
  stage: release
  tags: [ "saas-linux-small-amd64" ]
  image: $BUILD_LINUX_IMAGE_NAME_BASE
  variables: *docker-variables
  cache: *build-cache-web
  rules:
    - *if-release
  artifacts:
    paths:
      - "public/"
  script:
    - ./gradlew
      createGitLabPagesFiles
      --stacktrace