workflow:
  auto_cancel:
    on_new_commit: interruptible
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"

stages:
  - changelog
  - binaries
  - release
  - website

variables:
  GRADLE_OPTS: -Dorg.gradle.daemon=false
  GRADLE_USER_HOME: $CI_PROJECT_DIR/.gradle
  KONAN_DATA_DIR: $CI_PROJECT_DIR/.konan
  KOTLIN_DATA_DIR: $CI_PROJECT_DIR/.kotlin
  BUILD_LINUX_IMAGE_NAME: registry.gitlab.com/trixnity/trixnity/trixnity-build-linux:latest

.if-merge-request: &if-merge-request
  - if: $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

.if-main: &if-main
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: never
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

.if-release: &if-release
  - if: '$CI_COMMIT_TAG =~ /^v\d+.\d+.\d+.*/'

.docker-variables: &docker-variables
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

.build-cache-linux: &build-cache-linux
  paths:
    - $GRADLE_USER_HOME
    - $KONAN_DATA_DIR
    - $KOTLIN_DATA_DIR

.build-cache-mac: &build-cache-mac
  paths:
    - $GRADLE_USER_HOME
    - $KONAN_DATA_DIR
    - $KOTLIN_DATA_DIR

.build-cache-windows: &build-cache-windows
  paths:
    - $GRADLE_USER_HOME
    - $KONAN_DATA_DIR
    - $KOTLIN_DATA_DIR

.artifact-reports: &artifact-reports
  name: reports
  when: always
  paths: [ "**/build/reports" ]
  reports:
    junit: "**/build/test-results/**/TEST-*.xml"

changelog:
  stage: changelog
  interruptible: true
  timeout: 5m
  tags: [ "saas-linux-small-amd64" ]
  rules:
    - *if-merge-request
  script:
    - git fetch origin main
    - |
      if git diff --name-only HEAD origin/main | grep "CHANGELOG.md"; then
        echo "CHANGELOG.md has changed"
      else
        echo "CHANGELOG.md has not changed"
        exit 1
      fi

binaries-linux:
  stage: binaries
  tags: [ "saas-linux-large-amd64" ]
  image: $BUILD_LINUX_IMAGE_NAME
  variables: *docker-variables
  cache: *build-cache-linux
  rules:
    - *if-main
  artifacts:
    name: binaries
    when: always
    paths:
      - "build/outputs/bundle/release"
      - "build/compose/binaries"
      - "build/compose"
  script:
    - echo $ANDROID_RELEASE_STORE_FILE_BASE64 | base64 --decode > $ANDROID_RELEASE_STORE_FILE
    - ./gradlew
      uploadPlatformZipDistributable
      uploadWebZipDistributable
      uploadLinuxDistributable
      uploadAndroidDistributable
      --stacktrace

binaries-win:
  stage: binaries
  tags: [ "connect2x-win" ]
  cache: *build-cache-windows
  rules:
    - *if-main
  artifacts:
    name: binaries
    when: on_success
    paths:
      - "build/compose/binaries"
  script:
    - ./gradlew
      uploadPlatformZipDistributable
      uploadWindowsDistributable
      --stacktrace

binaries-mac:
  stage: binaries
  tags: [ "connect2x-mac" ]
  cache: *build-cache-mac
  rules:
    - *if-main
  artifacts:
    name: binaries
    when: on_success
    paths:
      - "build/compose/binaries"
  script:
    - ./gradlew
      uploadPlatformZipDistributable
      uploadMacDistributable
      --stacktrace

release:
  stage: release
  tags: [ "saas-linux-small-amd64" ]
  image: $BUILD_LINUX_IMAGE_NAME
  variables: *docker-variables
  cache: *build-cache-linux
  rules:
    - *if-release
  artifacts:
    name: pages
    when: on_success
    paths:
      - "public/"
  script:
    - ./gradlew
      createGitLabRelease
      --stacktrace

distribution-links:
  stage: website
  tags: [ "saas-linux-small-amd64" ]
  image: $BUILD_LINUX_IMAGE_NAME
  variables: *docker-variables
  cache: *build-cache-linux
  rules:
    - *if-main
  artifacts:
    name: pages
    when: on_success
    paths:
      - "public/"
  script:
    - ./gradlew
      createGitLabPagesFiles
      --stacktrace

pages:
  stage: website
  image: node:lts
  rules:
    - *if-main
  needs: [ "distribution-links" ]
  script:
    - cd website
    - npm install --force
    - npm run build
    - cp -r ./dist/* ../public
  artifacts:
    paths:
      - public