[Desktop Entry]
Version=1.0
Name=${APP_NAME}
Comment=Matrix Messenger
Exec=${COMMAND} %U
Terminal=false
Type=Application
Icon=${APP_ID}
Categories=Network;InstantMessaging;
MimeType=x-scheme-handler/${APP_ID};