<?xml version="1.0" encoding="UTF-8"?>
<component type="desktop-application">
    <id>${APP_ID}</id>
    <developer_name>${DEVELOPER_NAME}</developer_name>

    <name>${APP_NAME}</name>
    <summary>A fast and secure Matrix messenger</summary>

    <metadata_license>MIT</metadata_license>
    <project_license>AGPL-3.0-or-later</project_license>

    <description>
        <p>
            TeleCrypt Messenger is the fast, simple, and secure Matrix-based messenger you’ve been waiting for. With end-to-end encryption, your conversations are fully private and safe. TeleCrypt Messenger’s streamlined design ensures fast messaging and smooth performance.
        </p>
        <p>
            Powered by Matrix, TeleCrypt Messenger offers decentralized communication, so you&apos;re not tied to any single server. Stay connected across devices, join public rooms, and be independent of proprietary software as TeleCrypt Messenger is open source.
        </p>
    </description>

    <launchable type="desktop-id">${APP_ID}.desktop</launchable>

    <url type="homepage">${HOMEPAGE}</url>

    <content_rating type="oars-1.1">
        <content_attribute id="social-chat">intense</content_attribute>
    </content_rating>

    <releases>
        <release version="${PUBLISHED_VERSION}" type="stable"></release>
    </releases>
</component>