<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}images/logo.ico"/>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}style.css">
</head>
<body>

<main>
    <nav class="language-switcher">
        <ul>
            {{ range .Site.Languages }}
            <li>
                {{ if eq . $.Site.Language }}
                <span>{{ .LanguageName }}</span>
                {{ end }}
                <ul class="dropdown_menu">
                    {{ range $.Translations }}
                    <li><a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ end }}
        </ul>
    </nav>
    <h1>{{ .Title }}</h1>
    <div class="content">
        {{ .Content }}
    </div>
</main>

<footer>
    <nav>
        <ul>
            <li><a href='https://gitlab.com/connect2x/tammy'>{{ i18n "sourcecode" }}</a></li>
            <li><a href='{{ absLangURL "privacy" }}'>{{ i18n "privacy" }}</a></li>
            <li><a href='{{ absLangURL "imprint" }}'>{{ i18n "imprint" }}</a></li>
        </ul>
    </nav>
    <p>&copy; {{ i18n "company" }}</p>
</footer>
</body>
</html>
